<div class="table">
  <h1>Listing BrandSlip</h1>

  <table>
    <tr>
      <th>BrandSlip Title</th>
      <th>BrandSlip Description</th>
      <th>BrandSlip Category</th>
      <th>BrandSlip Sub Category</th>
      <th>BrandSlip Skill</th>
      <th>BrandSlip Price Type</th>
      <th>BrandSlip Price Hour Range</th>
      <th>BrandSlip Price Fixed Type</th>
      <th>BrandSlip Valid For</th>
      <th>BrandSlip Start Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.job_title %></td>
        <td><%= job.job_description %></td>
        <td><%= job.job_category %></td>
        <td><%= job.job_sub_category %></td>
        <td><%= job.job_skill %></td>
        <td><%= job.job_price_type %></td>
        <td><%= job.job_price_hour_range %></td>
        <td><%= job.job_price_fixed_type %></td>
        <td><%= job.job_valid_for %></td>
        <td><%= job.job_start_date %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New BrandSlip', new_job_path, :class => 'btn btn-primary'  %>
</div>